<ul class="u-card-wrap">
  <% posts.each do |post| %>
    <li class="u-card">
      <%= link_to post_path(post.id) do %>
        <figure class="u-pf-wrap">
          <%= image_tag post.user.get_profile_image,
            loading: "lazy",
            height: 30,
            width: 30,
            alt: "ユーザープロフィール画像",
            class: "" %>
          <figcaption class="u-pf-name">
            <%= post.user.name %>
          </figcaption>
        </figure>
        <p class="u-card-date"><%= post.format_date(:created_at) %></p>
        <h2 class="u-card-title"><%= post.title %></h2>
        <div class="u-card-labels">
          <% post.unique_languages.each do |language| %>
            <span class="u-card-label">
              <i class="fa-solid fa-circle" style="color: <%= language.color %>"></i> <%= language.name %>
            </span>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>