<%= search_form_for @q, url: url, method: :get, class: "u-search u-mb-50 js-form-reset-root" do |f| %>
  <%= f.search_field :title_cont, class: "u-field", placeholder: "投稿のタイトルを入力してください。" %>

  <div class="js-popup-root" id="js-popup-options">
    <button type="button" class="js-popup-close-bg"></button>
    <div class="js-popup">
      <button type="button" class="js-popup-close-btn u-btn-1 opt-size-s"><i class="fa-solid fa-xmark"></i></button>
      <div>
        <div class="js-tab">
          <div class="js-tab-head">
            <div class="js-tab-head-inner">
              <button type="button" class="js-tab-trigger">言語選択</button>
              <button type="button" class="js-tab-trigger">フィルター</button>
              <button type="button" class="js-tab-trigger">ソート</button>
            </div>
          </div>
          <div class="js-tab-body">
            <div class="js-tab-content">
              <div class="u-checkbox-group">
                <% @languages.each do |lang| %>
                  <label class="u-checkbox">
                    <%= check_box_tag "q[codes_language_name_in][]", lang.name,
                      Array(params.dig(:q, :codes_language_name_in)).include?(lang.name) %>
                      <%= lang.name %>
                      <i class="fa-solid fa-code" style="color: <%= lang.color %>"></i>
                  </label>
                <% end %>
              </div>
            </div>
            <div class="js-tab-content">
              <div class="u-checkbox-group">
                <% unless current_user.guest? %>
                  <label class="u-checkbox type-your_likes">
                    <%= check_box_tag "q[liked_by_me]", "1", params.dig(:q, :liked_by_me) == "1" %>
                    あなたがいいねした投稿
                  </label>
                <% end %>
              </div>
            </div>
            <div class="js-tab-content">
              <div class="u-raidobtn-group">
                <label class="u-raidobtn">
                  <%# radio_button_tag(パラメーター名, 送信される値, ラジオボタンを選択状態にするかBool) %>
                  <%# q[s] => ソートキー %>
                  <%= radio_button_tag "q[s]", "created_at desc", params.dig(:q, :s) == "created_at desc", class: "js-form-reset-radio-default" %>
                  新着順
                </label>
                <label class="u-raidobtn">
                  <%= radio_button_tag "q[s]", "created_at asc", params.dig(:q, :s) == "created_at asc"%>
                  投稿順
                </label>
                <label class="u-raidobtn">
                  <%= radio_button_tag "q[s]", "likes_count desc", params.dig(:q, :s) == "likes_count desc" %>
                  いいね順
                </label>
                <label class="u-raidobtn">
                  <%= radio_button_tag "q[s]", "recommend_score desc", params.dig(:q, :s) == "recommend_score desc" %>
                  コメントスコア順
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="u-btn-wrap opt-col-2 u-mt-30">
          <button type="button" class="js-form-reset-btn u-btn type-1 opt-size-s">リセット</button>
          <%= f.submit "検索", class: "u-btn opt-size-s" %>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="js-popup-trigger u-btn opt-size-s" data-target="js-popup-options">オプション</button>

  <%= f.submit "検索", class: "u-btn opt-size-s" %>
<% end %>