<%= search_form_for @q, url: url, method: :get, class: "u-search u-mb-50" do |f| %>
  <%= f.search_field :title_cont, class: "u-field", placeholder: "投稿のタイトルを入力してください。" %>

  <div class="u-checkbox-group">
    <% @language_names.each do |name| %>
      <label class="u-checkbox">
        <%= check_box_tag "q[codes_language_name_in][]", name,
          Array(params.dig(:q, :codes_language_name_in)).include?(name) %>
        <%= name %>
      </label>
    <% end %>
  </div>

  <%= f.submit "検索", class: "u-btn opt-size-s" %>
<% end %>