<% content_for :title, "グループ｜一覧" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner-3">
    <h1 class="u-title">グループ一覧</h1>

    <div class="u-table">
      <table>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <%= link_to group_path(group.id), class: 'u-link' do %>
                  <%= group.name %>
                <% end %>
              </td>
              <td class="p-table-intro">
                <%= group.introduction %>
              </td>
              <td>
                <%= group.group_members.count %>人
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="u-btn-wrap u-mt-50">
      <%= link_to new_group_path, class: 'u-btn' do %>
        <i class="fa-solid fa-square-plus"></i> グループ作成
      <% end %>
    </div>
  </div>
</section>