<div class="p-codefield js-code-block">
  <% if f %>
    <%= render 'public/shared/field_error', object: f.object, field: :name %>
    <%= render 'public/shared/field_error', object: f.object, field: :language_id %>
    <%= render 'public/shared/field_error', object: f.object, field: :content %>
    <div class="p-codefield-head">
      <div class="p-codefield-filename">
        <%= f.text_field :name, placeholder: "ファイル名", class: "u-field", value: "app" %>
        <span class="p-codefield-filename-dot">.</span>
        <%# collection_select 第1引数, 第2引数, 第3引数, 第4引数, オプション %>
        <%# 第1引数: フィールド名（保存先の属性）, 第2引数: コレクション（選択肢一覧）, 第3引数: 選択肢の値（保存されるid）, 第4引数: 選択肢の表示名（見せるラベル）, オプション: prompt・html属性など %>
        <%= f.collection_select :language_id, @languages, :id, :extension, { prompt: "拡張子選択" }, { class: "u-field" } %>
      </div>
      <button type="button" class="js-remove-code-field u-btn-1 type-1"><i class="fa-solid fa-trash"></i></button>
    </div>
    <div class="p-codefield-body">
      <%= f.text_area :content, placeholder: "コードを入力", class: "u-field-text_area js-code-textarea" %>
    </div>
    <%= f.hidden_field :_destroy, value: "false" %>
  <% else %>
    <%# 以下template要素内に配置する記述 %>
    <%# JS用のダミー要素（name属性などは後で置換される） %>
    <div class="p-codefield-head">
      <div class="p-codefield-filename">
        <input type="text" name="post[codes_attributes][JS_INDEX][name]" placeholder="ファイル名" value="app" class="u-field" />
        <span class="p-codefield-filename-dot">.</span>
        <select name="post[codes_attributes][JS_INDEX][language_id]" class="u-field">
          <option value="">拡張子選択</option>
          <% @languages.each do |lang| %>
            <option value="<%= lang.id %>"><%= lang.extension %></option>
          <% end %>
        </select>
      </div>
      <button type="button" class="js-remove-code-field u-btn-1 type-1"><i class="fa-solid fa-trash"></i></button>
    </div>
    <div class="p-codefield-body">
      <textarea name="post[codes_attributes][JS_INDEX][content]" placeholder="コードを入力" class="u-field-text_area js-code-textarea"></textarea>
    </div>
    <input type="hidden" name="post[codes_attributes][JS_INDEX][_destroy]" value="false" />
  <% end %>
</div>