<% content_for :title, "投稿｜#{@post.title} by #{@post.user.name}" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'public/posts', media: 'all' %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css" integrity="sha512-BrOPA520KmDMqieeM7XFe6a3u3Sb3F1JBaQnrIAmWg3EYrciJ+Qqe6ZcKCdfPv26rGcgTrJnZ/IdQEct8h3Zhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<% end %>
<% content_for :foot do %>
  
<% end %>

<div class="u-col2 p-show" id="js-col2-root">
  <div class="u-col2-main">
    <div class="u-col2-main-inner">
      <div class="u-scroll-target" id="top">
        <section class="u-sec">
          <div class="u-inner-4">
            <div class="u-vert-20">
              <figure class="u-pf-wrap">
                <%= link_to users_path do %>
                  <%= image_tag @post.user.get_profile_image,
                    loading: "lazy",
                    height: 30,
                    width: 30,
                    alt: "ユーザープロフィール画像",
                    class: "" %>
                  <figcaption class="u-pf-name">
                    <%= @post.user.name %>
                  </figcaption>
                <% end %>
              </figure>
              <div class="p-title-wrap">
                <h1 class="p-title"><%= @post.title %></h1>
              </div>
              <p>
                <span>投稿日: <%= @post.format_date(:created_at) %></span>
                <span class="u-pl-20">更新日: <%= @post.format_date(:updated_at) %></span>
              </p>
            </div>
          </div>
        </section>
      </div>

      <%# コード %>
      <div class="u-scroll-target" id="code">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1">コード</h2>
            <div class="js-tab">
              <div class="js-tab-head">
                <div class="js-tab-head-inner">
                  <% @post.codes.each do |code| %>
                    <button type="button" class="js-tab-trigger">
                      <i class="fa-solid fa-code" style="color: <%= code.language.color %>"></i>
                      <%= "#{code.name}.#{code.language.extension}" %>
                    </button>
                  <% end %>
                </div>
              </div>
              <div class="js-tab-body">
                <% @post.codes.each do |code| %>
                  <div class="js-tab-content">
                    <figure class="js-code u-code">
                      <%# h(): ERB::Util.html_escape の略（XSS防止） %>
                      <pre class="prettyprint js-code-pre"><code><%= h(code.content) %></code></pre>
                      <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                        <i class="fa-solid fa-copy"></i>
                      </button>
                    </figure>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%# 解説 %>
      <div class="u-scroll-target" id="description">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1">解説</h2>
            <%= MarkdownHelper.instance_method(:markdown_to_html).owner %>
            
          </div>
        </section>
      </div>

      <%# コメント %>
      <div class="u-scroll-target" id="comment">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1">コメント</h2>
          </div>
        </section>
      </div>
    </div>
  </div>

  <aside class="u-col2-side">
    <button id="js-col2-drawer" class="u-btn-1 type-1 opt-size-s u-col2-drawer" aria-label="サイドメニューを開閉する ">
      <span class="icon-right">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="icon-left">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </button>

    <div class="u-col2-side-content">
      <div class="u-col2-side-inner">
        <div class="u-side">
          <div class="u-side-body">
            <menu class="u-menu">
              <li>
                <a href="#top">TOP</a>
              </li>
              <li>
                <a href="#code">コード</a>
              </li>
              <li>
                <a href="#description">解説</a>
              </li>
              <li>
                <a href="#comment">コメント</a>
              </li>
            </menu>
          </div>
          <% if @post.user == current_user %>
            <div class="u-side-foot">
              <div class="u-btn-wrap">
                <%= link_to edit_post_path(@post.id), class: 'u-btn' do %>
                  <i class="fa-solid fa-gear"></i> 編集する 
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </aside>
</div>