<% content_for :title, "投稿オプション編集" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>

<div class="u-col2" id="js-col2-root">
  <div class="u-col2-main">
    <div class="u-col2-main-inner">
      <h1 class="u-title u-pt-50">投稿オプション編集</h1>

      <div class="u-scroll-target" id="languages">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1">言語オプション</h2>
            <div class="u-diff">
              <div class="u-diff-item">
                <ul class="u-card-wrap-center">
                  <% @languages.each do |lang| %>
                    <li class="u-card u-pX-30 u-pY-5">
                      <span class="u-card-tag" style="background-color: <%= lang.color %>;"></span>
                      <p><%= lang.name %>: <%= lang.extension %></p>
                      <div class="u-btn-wrap u-card-btn">
                        <%= link_to admin_destroy_language_option_path(lang.id), method: :delete, class: "u-btn-1 type-1 opt-size-ss", data: {confirm: "本当に削除しますか？"} do %>
                          <i class="fa-solid fa-trash"></i>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="u-diff-item">
                <div class="u-diff-content-full">
                  <%= form_with(model: @new_language, url: admin_create_language_option_path, method: :post, local: true) do |f| %>
                    <div class="u-vert-30">
                      <article>
                        <h2 class="u-title-3">言語名</h2>
                        <%= f.text_field :name, class: "u-field", placeholder: "例: JavaScript" %>
                      </article>
                      <article>
                        <h2 class="u-title-3">拡張子</h2>
                        <%= f.text_field :extension, class: "u-field", placeholder: "例: js" %>
                      </article>
                      <article>
                        <h2 class="u-title-3">イメージカラー</h2>
                        <p class="u-mb-5"><small>「none」または「#000000」のようなカラーコードを記入してください。</small></p>
                        <%= f.text_field :color, class: "u-field", placeholder: "例: #000000" %>
                      </article>
                    </div>

                    <div class="u-btn-wrap u-mt-50">
                      <%= f.submit "追加", class: "u-btn" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <aside class="u-col2-side">
    <button id="js-col2-drawer" class="u-btn-1 type-1 opt-size-s u-col2-drawer" aria-label="サイドメニューを開閉する ">
      <span class="icon-right">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="icon-left">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </button>

    <div class="u-col2-side-content">
      <div class="u-col2-side-inner">
        <div class="u-side">
          <div class="u-side-body">
            <menu class="u-menu">
              <li>
                <a href="#languages">言語オプション</a>
              </li>
            </menu>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>