<% report = comment.reports.find_by(user: current_user) %>

<li class="u-chat-item <%= "is-me" if comment.user == current_user %>" id="comment-<%= comment.id %>">
  <figure class="u-chat-userimg">
    <%= image_tag comment.user.get_profile_image,
        loading: "lazy",
        height: 30,
        width: 30,
        alt: "ユーザープロフィール画像",
        class: "" %>
  </figure>
  <div class="u-chat-content">
    <div class="u-chat-meta">
      <div class="u-chat-meta-left">
        <p class="u-chat-username" title="<%= comment.user.name %>"><%= comment.user.name %></p>
        <p class="u-chat-date"><%= comment.format_date(:created_at) %></p>
      </div>
      <div class="u-chat-meta-right">
        <% unless current_user.guest? %>
          <% if current_user == comment.user %>
            <%= link_to polymorphic_path([commentable, comment]), method: :delete, class: 'u-link type-1', title: "このコメントを削除する", data: { confirm: "このコメントを本当に削除しますか？" } do %><i class="fa-solid fa-trash"></i><% end %>
          <% else %>
            <% unless report.present? || !comment.is_active %>
              <%= link_to new_comment_report_path(comment.id), class: 'u-link type-1', title: "このコメントを通報する", target: "_blank" do %><i class="fa-solid fa-ban"></i><% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="u-chat-comment">
      <div class="u-chat-text">
        <% if comment.is_active %>
          <%= simple_format(comment.content) %>
        <% else %>
          <i class="u-c-gray">このコメントは、通報により非表示にされました</i>
        <% end %>
      </div>
    </div>
    <% if report.present? %>
      <div class="u-chat-foot">
      <% if report.resolved %>
        <div><%= simple_format(report.admin_feedback) %></div>
        <p>by 管理者</p>
      <% else %>
          <p>あなたはこのコメントを<br>通報しました。<br>ただいま精査中です。</p>
          <%= link_to report_path(report), method: :delete, class: 'u-link', data: { confirm: "本当に通報を取り消しますか？"} do %>
            通報を取り消す
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</li>