<li class="u-chat-item <%= "is-me" if comment.user == current_user %>">
  <figure class="u-chat-userimg">
    <%= image_tag comment.user.get_profile_image,
        loading: "lazy",
        height: 30,
        width: 30,
        alt: "ユーザープロフィール画像",
        class: "" %>
  </figure>
  <div class="u-chat-content">
    <div class="u-chat-meta">
      <div class="u-chat-meta-left">
        <p class="u-chat-username"><%= comment.user.name %></p>
        <p class="u-chat-date"><%= comment.format_date(:created_at) %></p>
      </div>
      <div class="u-chat-meta-right">
        <% if current_user == comment.user %>
          <%= link_to polymorphic_path([commentable, comment]), method: :delete, class: 'u-link type-1', title: "このコメントを削除する", data: { confirm: "このコメントを本当に削除しますか？" } do %><i class="fa-solid fa-trash"></i><% end %>
        <% else %>
          <%= link_to root_path, class: 'u-link type-1', title: "このコメントを通報する", data: { confirm: "このコメントを本当に通報しますか？" } do %><i class="fa-solid fa-ban"></i><% end %>
        <% end %>
      </div>
    </div>
    <div class="u-chat-comment">
      <div class="u-chat-text"><%= simple_format(comment.content) %></div>
    </div>
  </div>
</li>