<div class="" id="js-interview-list-wrap">
  <ul id="js-interview-list">
    <% interview_list.each do |i| %>
      <li><%= i.content %></li>
    <% end %>
  </ul>
</div>

<%= form_with(model: interview, url: url, local: false, id: "js-interview-form") do |f| %>
  <%= render 'public/shared/field_error', object: interview, field: :content %>
  <%= f.text_area :content, class: 'u-field', placeholder: '質問内容を入力してください。' %>

  <div class="u-btn-wrap opt-right u-mt-5">
    <%= f.submit '作成', class: 'u-btn opt-size-ss' %>
  </div>
<% end %>