<% content_for :title, "面接質問ガチャ｜質問編集" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner-2">
    <h1 class="u-title">質問編集</h1>

    <%= form_with(url: update_all_user_interviews_path(@user), method: :patch, local: true) do %>
      <div class="u-table">
        <table>
          <tbody>
            <% @interviews.each do |interview| %>
              <tr>
                <td class="u-pY-30">
                  <div>
                    <%= text_area_tag "interviews[#{interview.id}][content]", interview.content, class: "u-field" %>
                  </div>

                  <div class="u-mt-10">
                    <label class="u-checkbox">
                      <%= check_box_tag "interviews[#{interview.id}][_destroy]", "1" %>
                      この質問を削除する
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="u-btn-wrap u-mt-30">
        <%= submit_tag '確定', class: 'u-btn' %>
      </div>
    <% end %>

    <div class="u-mt-50">
      <p class="u-ta-r">
        <%= link_to gacha_user_interviews_path(current_user), class: 'u-link' do %>
          質問ガチャ
        <% end %>
        &emsp;
        <%= link_to new_user_interview_path(current_user), class: 'u-link' do %>
          質問作成
        <% end %>
      </p>
    </div>
  </div>
</section>