<% content_for :title, "面接質問ガチャ｜質問作成" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <div class="u-inner-2">
    <h1 class="u-title">質問作成</h1>

    <div class="" id="js-interview-list-wrap">
      <ul id="js-interview-list">
        <% @interview_list.each do |interview| %>
          <li><%= interview.content %></li>
        <% end %>
      </ul>
    </div>

    <%= form_with(model: @interview, url: user_interviews_path, local: false, id: "js-interview-form") do |f| %>
      <%= render 'public/shared/field_error', object: @interview, field: :content %>
      <%= f.text_area :content, class: 'u-field', placeholder: '質問内容を入力してください。' %>

      <div class="u-btn-wrap opt-right u-mt-5">
        <%= f.submit '作成', class: 'u-btn opt-size-ss' %>
      </div>
    <% end %>

    <div class="u-mt-50">
      <p class="u-ta-r">
        <%= link_to gacha_user_interviews_path(current_user), class: 'u-link' do %>
          質問ガチャ
        <% end %>
        &emsp;
        <%= link_to edit_all_user_interviews_path(current_user), class: 'u-link' do %>
          質問編集
        <% end %>
      </p>
    </div>
  </div>
</section>