<% content_for :title, "スタイル早見表" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/style_cheatsheet', media: 'all' %>
<% end %>
<% content_for :foot do %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
<% end %>

<div class="u-col2" id="js-col2-root">
  <div class="u-col2-main">
    <div class="u-col2-main-inner">
      <h1 class="u-title u-pt-50">スタイル早見表</h1>

      <!-- マージン -->
      <div class="u-scroll-target" id="<%= @sections[0][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[0][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10"></div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">
&lt;div class=&quot;u-ml-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-pc:mt-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-sp:mt-10&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-pc:u-vert-60 u-sp:u-vert-30&quot;&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/div&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p>値は0~150(5の倍数)。</p>
              <p>mt, mr, mb, ml がある。それぞれ 上、右、下、左</p>
              <p>mX がある。左右にマージンをつける。</p>
              <p>「pc:m~」はpc時のみ適用。</p>
              <p>「sp:m~」はsp時のみ適用。</p>
              <p>mtなどの後に「-auto」をつけると、値はautoとなる。.u-mt-auto</p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end マージン -->

      <!-- パディング -->
      <div class="u-scroll-target" id="<%= @sections[1][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[1][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10"></div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">
&lt;div class=&quot;u-pl-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-pc:pt-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-sp:pt-10&quot;&gt;&lt;/div&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p>使い勝手はマージンと同じ。</p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end パディング -->

      <!-- タイトル -->
      <div class="u-scroll-target" id="<%= @sections[2][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[2][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10">
              <h2 class="u-title">タイトル56</h2>
              <h2 class="u-title-1">タイトル36</h2>
              <h2 class="u-title-2">タイトル24</h2>
              <h2 class="u-title-3">タイトル18</h2>
            </div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">&lt;h2 class=&quot;u-title&quot;&gt;タイトル56&lt;/h2&gt;
&lt;h2 class=&quot;u-title-1&quot;&gt;タイトル36&lt;/h2&gt;
&lt;h2 class=&quot;u-title-2&quot;&gt;タイトル24&lt;/h2&gt;
&lt;h2 class=&quot;u-title-3&quot;&gt;タイトル18&lt;/h2&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p>タグの依存性はない。</p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end タイトル -->

      <!-- 文字色 -->
      <div class="u-scroll-target" id="<%= @sections[3][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[3][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10">
              <p class="u-c-red">赤</p>
              <p class="u-c-blue">青</p>
              <p class="u-c-black">黒</p>
              <p class="u-c-white">白（デフォルト色）</p>
            </div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">&lt;p class=&quot;u-c-red&quot;&gt;赤&lt;/p&gt;
&lt;p class=&quot;u-c-blue&quot;&gt;青&lt;/p&gt;
&lt;p class=&quot;u-c-black&quot;&gt;黒&lt;/p&gt;
&lt;p class=&quot;u-c-white&quot;&gt;白（デフォルト色）&lt;/p&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other"></div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end 文字色 -->

      <!-- 背景色 -->
      <div class="u-scroll-target" id="<%= @sections[4][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[4][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10">
              <p class="u-bg-red">赤</p>
              <p class="u-bg-blue">青</p>
              <p class="u-bg-black">黒（デフォルト）</p>
              <p class="u-bg-black-1">黒明るい</p>
              <p class="u-bg-white">白</p>
              <p class="u-bg-gray">グレー</p>
              <p class="u-bg-gray-1">グレー明るい</p>
            </div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">&lt;p class=&quot;u-bg-red&quot;&gt;赤&lt;/p&gt;
&lt;p class=&quot;u-bg-blue&quot;&gt;青&lt;/p&gt;
&lt;p class=&quot;u-bg-black&quot;&gt;黒（デフォルト）&lt;/p&gt;
&lt;p class=&quot;u-bg-black-1&quot;&gt;黒明るい&lt;/p&gt;
&lt;p class=&quot;u-bg-white&quot;&gt;白&lt;/p&gt;
&lt;p class=&quot;u-bg-gray&quot;&gt;グレー&lt;/p&gt;
&lt;p class=&quot;u-bg-gray-1&quot;&gt;グレー明るい&lt;/p&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other"></div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end 背景色 -->

      <!-- フォントサイズ -->
      <div class="u-scroll-target" id="<%= @sections[5][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-30">
            <h2 class="u-title-1"><%= @sections[5][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10">
              <p class="u-fz-10">10px相当</p>
              <p class="u-fz-32">32px相当</p>
            </div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <pre class="prettyprint js-code-pre">&lt;p class=&quot;u-fz-10&quot;&gt;10px相当&lt;/p&gt;
&lt;p class=&quot;u-fz-32&quot;&gt;32px相当&lt;/p&gt;</pre>
              <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p>10~32px相当の範囲（偶数）。</p>
              <p>「u-pc:fz-数値」「u-sp:fz-数値」でそれぞれ、pcのみ・spのみ、限定適用。</p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end フォントサイズ -->

      <!-- ボーダー -->
      <div class="u-scroll-target" id="<%= @sections[6][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[6][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2">ボーダー（基本）</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <p class="u-bd-1">ボーダー1px</p>
                <p class="u-bdr-1">ボーダー1px右</p>
                <p class="u-bdl-1">ボーダー1px左</p>
                <p class="u-bdt-1">ボーダー1px上</p>
                <p class="u-bdb-1">ボーダー1px下</p>
                <p class="u-bd-none">ボーダー消す</p>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;p class=&quot;u-bd-1&quot;&gt;ボーダー1px&lt;/p&gt;
&lt;p class=&quot;u-bdr-1&quot;&gt;ボーダー1px右&lt;/p&gt;
&lt;p class=&quot;u-bdl-1&quot;&gt;ボーダー1px左&lt;/p&gt;
&lt;p class=&quot;u-bdt-1&quot;&gt;ボーダー1px上&lt;/p&gt;
&lt;p class=&quot;u-bdb-1&quot;&gt;ボーダー1px下&lt;/p&gt;
&lt;p class=&quot;u-bd-none&quot;&gt;ボーダー消す&lt;/p&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>数値は1~10。</p>
                <p>u-:pc, u-sp:対応。</p>
              </div>
              <!-- end その他 -->
            </article>
            
            <!-- ボーダーカラー -->
            <article class="u-vert-30">
              <h3 class="u-title-2">ボーダーカラー</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <p class="u-bdl-10 u-bdc-red">ボーダーカラー赤</p>
                <p class="u-bdl-10 u-bdc-blue">ボーダーカラー青</p>
                <p class="u-bdl-10 u-bdc-black">ボーダーカラー黒</p>
                <p class="u-bdl-10 u-bdc-black-1">ボーダーカラー黒明るい</p>
                <p class="u-bdl-10 u-bdc-white">ボーダーカラー白（デフォルト）</p>
                <p class="u-bdl-10 u-bdc-gray">ボーダーカラーグレー</p>
                <p class="u-bdl-10 u-bdc-gray-1">ボーダーカラーグレー明るい</p>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;p class=&quot;u-bdl-10 u-bdc-red&quot;&gt;ボーダーカラー赤&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-blue&quot;&gt;ボーダーカラー青&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-black&quot;&gt;ボーダーカラー黒&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-black-1&quot;&gt;ボーダーカラー黒明るい&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-white&quot;&gt;ボーダーカラー白（デフォルト）&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-gray&quot;&gt;ボーダーカラーグレー&lt;/p&gt;
&lt;p class=&quot;u-bdl-10 u-bdc-gray-1&quot;&gt;ボーダーカラーグレー明るい&lt;/p&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end ボーダー -->

      <!-- ボタン -->
      <div class="u-scroll-target" id="<%= @sections[7][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[7][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2">ボタン（基本）</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-btn-wrap">
                  <button class="u-btn" aria-label="ボタンの説明">ボタン</button>
                </div>

                <div class="u-btn-wrap u-vert-10">
                  <button class="u-btn opt-size-full" aria-label="ボタンの説明">ボタン</button>
                  <button class="u-btn opt-size-l" aria-label="ボタンの説明">ボタン</button>
                  <button class="u-btn opt-size-s" aria-label="ボタンの説明">ボタン</button>
                  <button class="u-btn opt-size-ss" aria-label="ボタンの説明">ボタン</button>
                  <%= link_to root_path, class: "u-btn" do %>
                    ボタン
                  <% end %>
                  <button class="u-btn-1" aria-label="ボタンの説明">🙂‍↔️</button>
                  <button class="u-btn-1 opt-size-s" aria-label="ボタンの説明">🙂‍↔️</button>
                  <button class="u-btn-1 opt-size-ss" aria-label="ボタンの説明">🙂‍↔️</button>
                  <button class="u-btn-1 type-1" aria-label="ボタンの説明">🙂‍↔️</button>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;div class=&quot;u-btn-wrap&quot;&gt;
  &lt;button class=&quot;u-btn&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
&lt;/div&gt;

&lt;div class=&quot;u-btn-wrap u-vert-10&quot;&gt;
  &lt;button class=&quot;u-btn opt-size-full&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
  &lt;button class=&quot;u-btn opt-size-l&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
  &lt;button class=&quot;u-btn opt-size-s&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
  &lt;button class=&quot;u-btn opt-size-ss&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
  &lt;%= link_to root_path, class: &quot;u-btn&quot; do %&gt;
    ボタン
  &lt;% end %&gt;
  &lt;button class=&quot;u-btn-1&quot; aria-label=&quot;ボタンの説明&quot;&gt;🙂‍↔️&lt;/button&gt;
  &lt;button class=&quot;u-btn-1 opt-size-s&quot; aria-label=&quot;ボタンの説明&quot;&gt;🙂‍↔️&lt;/button&gt;
  &lt;button class=&quot;u-btn-1 opt-size-ss&quot; aria-label=&quot;ボタンの説明&quot;&gt;🙂‍↔️&lt;/button&gt;
  &lt;button class=&quot;u-btn-1 type-1&quot; aria-label=&quot;ボタンの説明&quot;&gt;🙂‍↔️&lt;/button&gt;
&lt;/div&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
            
            <!-- ラッパーのオプション -->
            <article class="u-vert-30">
              <h3 class="u-title-2">ラッパーのオプション</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-btn-wrap opt-left">
                  <button class="u-btn" aria-label="ボタンの説明">左寄り</button>
                </div>
                <div class="u-btn-wrap pc:opt-right">
                  <button class="u-btn" aria-label="ボタンの説明">pcの時右寄り</button>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;div class=&quot;u-btn-wrap opt-left&quot;&gt;
  &lt;button class=&quot;u-btn&quot; aria-label=&quot;ボタンの説明&quot;&gt;左寄り&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;u-btn-wrap pc:opt-right&quot;&gt;
  &lt;button class=&quot;u-btn&quot; aria-label=&quot;ボタンの説明&quot;&gt;pcの時右寄り&lt;/button&gt;
&lt;/div&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end ボタン -->

      <!-- リンク -->
      <div class="u-scroll-target" id="<%= @sections[8][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[8][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <p>
                  <%= link_to root_path, class: "u-link" do %>
                    リンク
                  <% end %>
                </p>
                <p>
                  <%= link_to "Google", "https://www.google.com", target: "_blank", rel: "noopener noreferrer", class: "u-link"%>
                </p>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;%= link_to root_path, class: &quot;u-link&quot; do %&gt;
  ボタン
&lt;% end %&gt;

&lt;%= link_to &quot;Google&quot;, &quot;https://www.google.com&quot;, target: &quot;_blank&quot;, rel: &quot;noopener noreferrer&quot;, class: &quot;u-link&quot;%&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>消極的なリンク: .u-link.type-1</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end リンク -->

      <!-- セクション -->
      <div class="u-scroll-target" id="<%= @sections[9][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[9][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <section class="u-sec">
                  セクション
                </section>
                <section class="u-sec">
                  セクション
                </section>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;section class=&quot;u-sec&quot;&gt;
  セクション
&lt;/section&gt;
&lt;section class=&quot;u-sec&quot;&gt;
  セクション
&lt;/section&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end セクション -->

      <!-- インナー -->
      <div class="u-scroll-target" id="<%= @sections[10][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[10][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-inner" style="background-color: darkcyan">
                  <div class="" style="background-color: darkorchid">
                    390px相当
                  </div>
                </div>

                <div class="u-inner-1" style="background-color: darkcyan">
                  <div class="" style="background-color: darkorchid">
                    800px相当
                  </div>
                </div>

                <div class="u-inner-2" style="background-color: darkcyan">
                  <div class="" style="background-color: darkorchid">
                    1000px相当
                  </div>
                </div>

                <div class="u-inner-3" style="background-color: darkcyan">
                  <div class="" style="background-color: darkorchid">
                    1200px相当
                  </div>
                </div>

                <div class="u-inner-4" style="background-color: darkcyan">
                  <div class="" style="background-color: darkorchid">
                    幅80%相当
                  </div>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;div class=&quot;u-inner&quot;&gt;
  390px相当
&lt;/div&gt;

&lt;div class=&quot;u-inner-1&quot;&gt;
  800px相当
&lt;/div&gt;

&lt;div class=&quot;u-inner-2&quot;&gt;
  1000px相当
&lt;/div&gt;

&lt;div class=&quot;u-inner-3&quot;&gt;
  1200px相当
&lt;/div&gt;

&lt;div class=&quot;u-inner-4&quot;&gt;
  幅80%相当
&lt;/div&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end インナー -->

      <!-- 2カラムレイアウト -->
      <div class="u-scroll-target" id="<%= @sections[11][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[11][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10"></div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;% content_for :title, &quot;About&quot; %&gt;
&lt;div class=&quot;u-col2&quot; id=&quot;js-col2-root&quot;&gt;
  &lt;div class=&quot;u-col2-main&quot;&gt;
    &lt;div class=&quot;u-col2-main-inner&quot;&gt;
      &lt;h1 class=&quot;u-title u-pt-50&quot;&gt;About&lt;/h1&gt;

      &lt;section class=&quot;u-sec&quot;&gt;
        &lt;div class=&quot;u-inner-4&quot;&gt;
            &lt;h2 class=&quot;u-title-1&quot;&gt;セクションタイトル&lt;/h2&gt;
        &lt;/div&gt;
      &lt;/section&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;aside class=&quot;u-col2-side&quot;&gt;
    &lt;button id=&quot;js-col2-drawer&quot; class=&quot;u-btn-1 type-1 opt-size-s u-col2-drawer&quot; aria-label=&quot;サイドメニューを開閉する &quot;&gt;
      &lt;span class=&quot;icon-right&quot;&gt;
        &lt;i class=&quot;fa-solid fa-arrow-right&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
      &lt;span class=&quot;icon-left&quot;&gt;
        &lt;i class=&quot;fa-solid fa-arrow-left&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/button&gt;

    &lt;div class=&quot;u-col2-side-content&quot;&gt;
      &lt;div class=&quot;u-col2-side-inner&quot;&gt;
        &lt;div class=&quot;u-side&quot;&gt;
          &lt;div class=&quot;u-side-body&quot;&gt;
            &lt;menu class=&quot;u-menu&quot;&gt;
                &lt;li&gt;
                  &lt;a href=&quot;#&quot;&gt;リンク&lt;/a&gt;
                &lt;/li&gt;
            &lt;/menu&gt;
          &lt;/div&gt;
          &lt;div class=&quot;u-side-foot&quot;&gt;
            &lt;div class=&quot;u-btn-wrap&quot;&gt;
              &lt;a href=&quot;&quot; class=&quot;u-btn&quot;&gt;ボタン&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/aside&gt;
&lt;/div&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end 2カラムレイアウト -->

      <!-- メニュー -->
      <div class="u-scroll-target" id="<%= @sections[12][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[12][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <menu class="u-menu">
                  <li>
                    <a href="#テスト">テスト</a>
                  </li>
                  <li>
                    <a href="#テスト">テスト</a>
                  </li>
                </menu>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;menu class=&quot;u-menu&quot;&gt;
  &lt;li&gt;
    &lt;a href=&quot;#テスト&quot;&gt;テスト&lt;/a&gt;
  &lt;/li&gt;
&lt;/menu&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end メニュー -->

      <!-- スクロール位置調整 -->
      <div class="u-scroll-target" id="<%= @sections[13][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[13][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10"></div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre">&lt;div class=&quot;u-scroll-target&quot; id=&quot;テスト&quot;&gt;&lt;/div&gt;</pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>「href="#"」による内部リンクのヘッダー高さ分を調整するスタイル。</p>
                <p>マイナスマージン、パティングを使っているため、取り扱いに注意。</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end スクロール位置調整 -->

      <!-- コード -->
      <div class="u-scroll-target" id="<%= @sections[14][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[14][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <figure class="js-code u-code">
                  <pre class="prettyprint js-code-pre"><code>コード</code></pre>
                  <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                    <i class="fa-solid fa-copy"></i>
                  </button>
                </figure>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;% content_for :foot do %&gt;
  &lt;script src=&quot;https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst&quot;&gt;&lt;/script&gt;
&lt;% end %&gt;

&lt;figure class=&quot;js-code u-code&quot;&gt;
  &lt;pre class=&quot;prettyprint js-code-pre&quot;&gt;&lt;code&gt;コード&lt;/code&gt;&lt;/pre&gt;
  &lt;button class=&quot;js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s&quot; aria-label=&quot;コードをコピーする&quot;&gt;
    &lt;i class=&quot;fa-solid fa-copy&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
&lt;/figure&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>シンタックスハイライトのため、code-prettifyのcdnを用意しておく。</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end コード -->

      <!-- ページスタートセット -->
      <div class="u-scroll-target" id="<%= @sections[15][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[15][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10"></div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;% content_for :title, &quot;ページタイトル&quot; %&gt;
&lt;% content_for :head do %&gt;
&lt;% end %&gt;
&lt;% content_for :foot do %&gt;
&lt;% end %&gt;

&lt;section class=&quot;u-sec&quot;&gt;
  &lt;div class=&quot;u-inner&quot;&gt;
      &lt;h1 class=&quot;u-title&quot;&gt;タイトル56&lt;/h1&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end ページスタートセット -->

      <!-- フォームフィールド -->
      <div class="u-scroll-target" id="<%= @sections[16][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[16][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10"></div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;div class=&quot;u-vert-30&quot;&gt;
  &lt;div&gt;
    &lt;h2 class=&quot;u-title-2&quot;&gt;Eメール&lt;/h2&gt;
    &lt;%= f.email_field :email, autofocus: true, autocomplete: &quot;email&quot;, class: &quot;u-field&quot;, placeholder: &quot;例: example@mail.com&quot; %&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>スタイル追加：テキストエリアのフィールド => .u-field-text_area</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end フォームフィールド -->

      <!-- テキスト配置 -->
      <div class="u-scroll-target" id="<%= @sections[17][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[17][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <p class="u-ta-l">左</p>
                <p class="u-ta-c">中央</p>
                <p class="u-pc:ta-r">pcの時右</p>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;p class=&quot;u-ta-l&quot;&gt;左&lt;/p&gt;
&lt;p class=&quot;u-ta-c&quot;&gt;中央&lt;/p&gt;
&lt;p class=&quot;u-pc:ta-r&quot;&gt;pcの時右&lt;/p&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end テキスト配置 -->

      <!-- 最大高さオーバーフロー -->
      <div class="u-scroll-target" id="<%= @sections[18][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[18][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-maxh-200">
                  <div style="height: 40rem; background-color: darkblue;">コンテンツ高さ400px</div>
                </div>
                <div class="u-maxh-20vh">
                  <div style="height: 40rem; background-color: darkblue;">コンテンツ高さ400px</div>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;div class=&quot;u-maxh-200&quot;&gt;
  コンテンツ高さ400px
&lt;/div&gt;

&lt;div class=&quot;u-maxh-20vh&quot;&gt;
  コンテンツ高さ400px
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>数値のみ：50刻み、50~500</p>
                <p>数値vh：10刻み、20vh~100vh</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end 最大高さオーバーフロー -->

      <!-- 非活性 -->
      <div class="u-scroll-target" id="<%= @sections[19][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[19][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div>
                  <%= link_to about_path, class: "u-inactive u-link" do %>
                    <i class="fa-solid fa-gear"></i> 設定
                  <% end %>
                </div>

                <div class="u-btn-wrap">
                  <button class="u-btn u-inactive" aria-label="ボタンの説明">ボタン</button>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;%= link_to about_path, class: &quot;u-inactive u-link&quot; do %&gt;
  &lt;i class=&quot;fa-solid fa-gear&quot;&gt;&lt;/i&gt; 設定
&lt;% end %&gt;

&lt;div class=&quot;u-btn-wrap&quot;&gt;
  &lt;button class=&quot;u-btn u-inactive&quot; aria-label=&quot;ボタンの説明&quot;&gt;ボタン&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end 非活性 -->

      <!-- プロフィール -->
      <div class="u-scroll-target" id="<%= @sections[20][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[20][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <figure class="u-pf-wrap">
                  <%= link_to users_path do %>
                    <%= image_tag "default-profile_image.png",
                      loading: "lazy",
                      height: 30,
                      width: 30,
                      alt: "ユーザープロフィール画像",
                      class: "" %>
                    <figcaption class="u-pf-name">
                      ユーザー名
                    </figcaption>
                  <% end %>
                </figure>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;figure class=&quot;u-pf-wrap&quot;&gt;
  &lt;%= link_to users_path do %&gt;
    &lt;%= image_tag &quot;default-profile_image.png&quot;,
      loading: &quot;lazy&quot;,
      height: 30,
      width: 30,
      alt: &quot;ユーザープロフィール画像&quot;,
      class: &quot;&quot; %&gt;
    &lt;figcaption class=&quot;u-pf-name&quot;&gt;
      ユーザー名
    &lt;/figcaption&gt;
  &lt;% end %&gt;
&lt;/figure&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end プロフィール -->

      <!-- テーブル -->
      <div class="u-scroll-target" id="<%= @sections[21][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[21][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2">基本</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-table">
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <figure class="u-pf-wrap">
                            <%= link_to root_path do %>
                              <%= image_tag "default-profile_image.png",
                                loading: "lazy",
                                height: 30,
                                width: 30,
                                alt: "ユーザープロフィール画像",
                                class: "" %>
                              <figcaption class="u-pf-name">
                                ユーザー名
                              </figcaption>
                            <% end %>
                          </figure>
                        </td>
                        <td>
                          <div class="u-inactive">フォローする</div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <figure class="u-pf-wrap">
                            <%= link_to root_path do %>
                              <%= image_tag "default-profile_image.png",
                                loading: "lazy",
                                height: 30,
                                width: 30,
                                alt: "ユーザープロフィール画像",
                                class: "" %>
                              <figcaption class="u-pf-name">
                                ユーザー名
                              </figcaption>
                            <% end %>
                          </figure>
                        </td>
                        <td>
                          <div class="u-inactive">フォローする</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;div class=&quot;u-table&quot;&gt;
  &lt;table&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;
          &lt;figure class=&quot;u-pf-wrap&quot;&gt;
            &lt;%= link_to root_path do %&gt;
              &lt;%= image_tag user.get_profile_image,
                loading: &quot;lazy&quot;,
                height: 30,
                width: 30,
                alt: &quot;ユーザープロフィール画像&quot;,
                class: &quot;&quot; %&gt;
              &lt;figcaption class=&quot;u-pf-name&quot;&gt;
                ユーザー名
              &lt;/figcaption&gt;
            &lt;% end %&gt;
          &lt;/figure&gt;
        &lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;u-inactive&quot;&gt;フォローする&lt;/div&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
            
            <!-- パターン1 -->
            <article class="u-vert-30">
              <h3 class="u-title-2">パターン1</h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-table-1">
                  <table>
                    <thead>
                      <tr>
                        <th>ユーザー名</th>
                        <th>ID</th>
                        <th>削除する</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <figure class="u-pf-wrap">
                            <%= link_to root_path do %>
                              <%= image_tag "default-profile_image.png",
                                loading: "lazy",
                                height: 30,
                                width: 30,
                                alt: "ユーザープロフィール画像",
                                class: "" %>
                              <figcaption class="u-pf-name">
                                ユーザー名
                              </figcaption>
                            <% end %>
                          </figure>
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          <div class="u-btn-wrap">
                            <%= link_to root_path, class: 'u-btn-1 opt-size-s', data: { confirm: "本当に削除しますか？" } do %>
                              <i class="fa-solid fa-trash"></i>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;div class=&quot;u-table-1&quot;&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
          &lt;td&gt;
            
          &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other"></div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end テーブル -->

      <!-- 差分 -->
      <div class="u-scroll-target" id="<%= @sections[22][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4 u-vert-80">
            <h2 class="u-title-1"><%= @sections[22][:title] %></h2>
            
            <!-- 基本 -->
            <article class="u-vert-30">
              <h3 class="u-title-2"></h3>

              <!-- コンテント -->
              <div class="p-content u-vert-10">
                <div class="u-diff">
                  <div class="u-diff-item">
                    <div class="u-diff-content">
                      名前など
                    </div>
                  </div>
                  <div class="u-diff-item">
                    <div class="u-diff-content">
                      フォームなど
                    </div>
                  </div>
                </div>
              </div>
              <!-- end コンテント -->
  
              <!-- コード -->
              <figure class="js-code u-code">
                <pre class="prettyprint js-code-pre"><code>&lt;div class=&quot;u-diff&quot;&gt;
  &lt;div class=&quot;u-diff-item&quot;&gt;
    名前など
  &lt;/div&gt;
  &lt;div class=&quot;u-diff-item&quot;&gt;
    フォームなど
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button class="js-code-copy_btn u-code-copy_btn u-btn-1 type-1 opt-size-s" aria-label="コードをコピーする">
                  <i class="fa-solid fa-copy"></i>
                </button>
              </figure>
              <!-- end コード -->
  
              <!-- その他 -->
              <div class="p-other">
                <p>.u-diff-item>.u-diff-content-fullにすると、その要素の幅がいっぱいになる。</p>
                <p>.u-diff-item.opt-leftにすると、その要素は左寄せになる。</p>
              </div>
              <!-- end その他 -->
            </article>
          </div>
        </section>
      </div>
      <!-- end 差分 -->
    </div>
  </div>

  <aside class="u-col2-side">
    <button id="js-col2-drawer" class="u-btn-1 type-1 opt-size-s u-col2-drawer" aria-label="サイドメニューを開閉する ">
      <span class="icon-right">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="icon-left">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </button>

    <div class="u-col2-side-content">
      <div class="u-col2-side-inner">
        <div class="u-side">
          <div class="u-side-body">
            <menu class="u-menu">
              <% @sections.each do |section| %>
                <li>
                  <a href="#<%= section[:id] %>"><%= section[:title] %></a>
                </li>
              <% end %>
            </menu>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
