<% content_for :title, "スタイル早見表" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/style_cheatsheet', media: 'all' %>
<% end %>
<% content_for :foot do %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
<% end %>

<% sections = [
  { id: 'sec-tpl', title: 'テンプレ' },
  { id: 'sec-margin', title: 'マージン' }
] %>

<div class="u-col2" id="js-col2-root">
  <div class="u-col2-main">
    <div class="u-col2-main-inner">
      <h1 class="u-title u-pY-50">スタイル早見表</h1>

      <!-- テンプレ -->
      <div class="u-scroll-target js-menu-sec" id="<%= sections[0][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1 js-menu-sec_title"><%= sections[0][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10"></div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="p-code">
              <pre class="prettyprint"></pre>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p></p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end テンプレ -->

      <!-- マージン -->
      <div class="u-scroll-target js-menu-sec" id="<%= sections[1][:id] %>">
        <section class="u-sec">
          <div class="u-inner-4">
            <h2 class="u-title-1 js-menu-sec_title"><%= sections[1][:title] %></h2>

            <!-- コンテント -->
            <div class="p-content u-vert-10">
            </div>
            <!-- end コンテント -->

            <!-- コード -->
            <figure class="js-code u-code">
              <button class="js-code-copy_btn u-btn-1" aria-label="コードをコピーする">
                <i class="fa-solid fa-copy"></i>
              </button>
              <pre class="prettyprint js-code-pre">
&lt;div class=&quot;u-ml-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-pc:mt-40&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-sp:mt-10&quot;&gt;&lt;/div&gt;

&lt;div class=&quot;u-pc:u-vert-60 u-sp:u-vert-30&quot;&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/div&gt;</pre>
            </figure>
            <!-- end コード -->

            <!-- その他 -->
            <div class="p-other">
              <p>値は0~150(5の倍数)。</p>
              <p>mt, mr, mb, ml がある。それぞれ 上、右、下、左</p>
              <p>mX がある。左右にマージンをつける。</p>
              <p>「pc:m~」はpc時のみ適用。</p>
              <p>「sp:m~」はsp時のみ適用。</p>
              <p>mtなどの後に「-auto」をつけると、値はautoとなる。.u-mt-auto</p>
            </div>
            <!-- end その他 -->
          </div>
        </section>
      </div>
      <!-- end マージン -->
    </div>
  </div>

  <aside class="u-col2-side">
    <button id="js-col2-drawer" class="u-btn-1 u-col2-drawer" aria-label="サイドメニューを開閉する ">
      <span class="icon-right">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="icon-left">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </button>

    <div class="u-col2-side-content">
      <div class="u-col2-side-inner">
        <div class="u-side">
          <menu class="u-menu" id="js-menu">
              <% sections.each do |section| %>
                <li>
                  <a href="#<%= section[:id] %>"><%= section[:title] %></a>
                </li>
              <% end %>
          </menu>
        </div>
      </div>
    </div>
  </aside>
</div>