<% content_for :title, "通報｜フィードバック" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "" %>

<section class="u-sec">
  <h1 class="u-title">通報に対するフィードバック</h1>
  <div class="u-inner-1">
    <div class="u-vert-50">
      <article>
        <h2 class="u-title-2">対象のコメント</h2>
        <p><%= @report.comment.content %></p>
        <p class="u-ta-r u-mt-10">by <%= @report.comment.user.name %></p>
      </article>

      <article>
        <h2 class="u-title-2">通報理由</h2>
        <p><%= @report.reason %></p>
        <p class="u-ta-r u-mt-10">by <%= @report.user.name %></p>
      </article>

      <%= form_with model:@report, url: admin_report_path(@report), method: :patch, local: true, class: "u-vert-50" do |f| %>
        <div>
          <h2 class="u-title-2 u-mb-50">コメントを非表示にしますか？</h2>
          <div class="u-flex-center u-gap-30" id="js-raidowrap-feedback">
            <label>
              <%= radio_button_tag :hide_comment, "true", params[:hide_comment] == "true" %> 非表示にする
            </label>
            <label>
              <%= radio_button_tag :hide_comment, "false", params[:hide_comment] == "false" %> 非表示にしない
            </label>
          </div>
        </div>

        <div>
          <h2 class="u-title-2">フィードバック</h2>
          <%= f.text_area :admin_feedback, class: "u-field-text_area", placeholder: "通報者に対してのメッセージを記入してください。", id: "js-admin_feedback" %>
        </div>

        <div class="u-btn-wrap">
          <%= f.submit "フィードバックを送信", class: "u-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</section>