<%# ユーザー側のメニュー %>
<div class="header-nav-body">
  <div>
    <h2 class="u-title-2">COMMON</h2>
    <menu class="u-menu">
      <li>
        <%= link_to root_path do %>
          <i class="fa-solid fa-house"></i> HOME
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
          <i class="fa-solid fa-book"></i> ABOUT
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to posts_path, class: "" do %>
            <i class="fa-solid fa-code"></i> コード一覧
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fa-solid fa-user"></i> ユーザー一覧
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "u-inactive" do %>
            <i class="fa-solid fa-users"></i> グループ一覧
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to posts_path, class: "" do %>
            <i class="fa-solid fa-code"></i> コード一覧
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fa-solid fa-user"></i> ユーザー一覧
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "u-inactive" do %>
            <i class="fa-solid fa-users"></i> グループ一覧
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i> 管理者ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-user-plus"></i> サインアップ
          <% end %>
        </li>
      <% end %>
    </menu>
  </div>

  <% if user_signed_in? %>
  <div class="u-mt-30">
    <h2 class="u-title-2 u-pf-wrap">
      <%= link_to user_path(current_user.id) do %>
        <%= image_tag current_user.get_profile_image,
          loading: "lazy",
          height: 30,
          width: 30,
          alt: "プロフィール画像",
          fetchpriority: "high" %>
        <span class="u-pf-name"><%= current_user.name %></span>
      <% end %>
    </h2>
    <menu class="u-menu">
      <li>
        <%= link_to root_path, class: "u-inactive" do %>
          <i class="fa-solid fa-code"></i> あなたのコード一覧
        <% end %>
      </li>
      <li>
        <%= link_to about_path, class: "u-inactive" do %>
          <i class="fa-solid fa-handshake-simple"></i> フォロー/フォロワー
        <% end %>
      </li>
      <li>
        <%= link_to about_path, class: "u-inactive" do %>
          <i class="fa-solid fa-users"></i> 参加グループ
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_path(current_user.id) do %>
          <i class="fa-solid fa-gear"></i> 設定
        <% end %>
      </li>
    </menu>
  </div>
  <% end %>
</div>

<% if user_signed_in? %>
<div class="header-nav-foot">
  <div class="u-btn-wrap">
    <%= link_to new_post_path, class: "u-btn" do %>
      <i class="fa-solid fa-square-plus"></i> コード投稿
    <% end %>
  </div>
</div>
<% end %>