<%# ユーザー側のメニュー %>

<menu class="u-menu">
  <li>
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i> HOME
    <% end %>
  </li>
  <li>
    <%= link_to about_path do %>
      <i class="fa-solid fa-book"></i> About
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to new_user_session_path do %>
        <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
      <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %>
        <i class="fa-solid fa-user-plus"></i> サインアップ
      <% end %>
    </li>
  <% end %>
</menu>