<section class="u-sec">
  <div class="u-inner">
    <h1 class="u-title">ログイン</h1>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="u-vert-30">
        <div>
          <h2 class="u-title-2">Eメール</h2>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "u-field", placeholder: "例: example@mail.com" %>
        </div>

        <div>
          <h2 class="u-title-2">パスワード</h2>
          <%= f.password_field :password, autocomplete: "current-password", class: "u-field" %>
        </div>

        <div>
          <% if devise_mapping.rememberable? %>
            <h2 class="u-title-2">ログイン状態を保持しますか？</h2>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "はい" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="u-btn-wrap u-mt-50">
        <%= f.submit "決定", class: "u-btn opt-size-full" %>
      </div>
    <% end %>

    <div class="u-mt-50 u-ta-r">
      <%= render "public/shared/links" %>
    </div>
  </div>
</section>

