<% content_for :title, "ユーザー｜一覧" %>
<% content_for :head do %>
<% end %>
<% content_for :foot do %>
<% end %>

<section class="u-sec">
  <div class="u-inner-1">
      <h1 class="u-title">ユーザー一覧</h1>

      <%# search_form_for => ransackが提供するヘルパー %>
      <%= search_form_for @q, url: users_path, method: :get, class: "u-search u-mb-50" do |f| %>
        <%# 属性名_cont => 属性名を部分検索、contains valueの意 %>
        <%= f.search_field :name_cont, class: "u-field", placeholder: "ユーザー名を入力してください。" %>
        <%= f.submit "検索", class: "u-btn opt-size-s" %>
      <% end %>

      <div class="u-table">
        <table>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <figure class="u-pf-wrap">
                    <%= link_to user_path(user.id) do %>
                      <%= image_tag user.get_profile_image,
                        loading: "lazy",
                        height: 30,
                        width: 30,
                        alt: "ユーザープロフィール画像",
                        class: "" %>
                      <figcaption class="u-pf-name">
                        <%= user.name %>
                      </figcaption>
                    <% end %>
                  </figure>
                </td>
                <td>
                  <div class="u-inactive">フォローする</div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</section>