<% content_for :title, "#{@user.name}のコード一覧" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'public/posts', media: 'all' %>
<% end %>
<% content_for :foot do %>
<% end %>
<% content_for :body_class, "p-post" %>

<section class="u-sec">
  <h1 class="u-title"><%= @user.name %>のコード一覧</h1>
  <div class="u-inner-1">
    <%= render 'public/shared/search_post', url: user_posts_path(@user.id) %>
  </div>
  <div class="u-inner-3">
    <%= render 'public/shared/posts', posts: @posts %>
    <% if @user == current_user %>
      <div class="u-btn-wrap u-mt-50">
        <%= link_to new_post_path, class: "u-btn" do %>
          <i class="fa-solid fa-square-plus"></i> コード投稿
        <% end %>
      </div>
    <% end %>
  </div>
</section>