<% content_for :title, "ユーザー｜#{@user.name}" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'public/users', media: 'all' %>
<% end %>
<% content_for :foot do %>
<% end %>

<section class="u-sec p-user">
  <div class="u-inner">
    <figure class="p-user-image">
      <%= image_tag @user.get_profile_image(400, 400),
        height: 400,
        width: 400,
        alt: "ユーザー画像",
        class: "",
        fetchpriority: "high" %>
    </figure>

    <div class="u-mt-20">
      <h1 class="u-title">
        <%= @user.name %>
      </h1>
      <p>ID: <%= @user.id %></p>
      <% unless current_user.guest? %>
      <div class="u-flex-between opt-center-y">
          <p>
            <%= link_to user_relationships_path(@user.id), class: 'u-link' do %>
              フォロー<%= @user.followings.count %> / フォロワー<%= @user.followers.count %>
            <% end %>
          </p>
          <div class="u-btn-wrap u-ml-20">
            <% if @user == current_user %>
              <%= link_to edit_user_path(@user.id), class: 'u-btn type-1 opt-size-ss' do %>
                <i class="fa-solid fa-gear"></i> 設定
              <% end %>
            <% else %>
              <%= render 'public/relationships/btn', user: @user %>
            <% end %>
          </div>
      </div>
      <% end %>

      <% if @user.introduction.present? %>
        <div class="u-mt-30 p-user-introduction"><%= simple_format(@user.introduction) %></div>
      <% end %>
    </div>

    <div class="u-mt-50">
      <menu class="p-user-menu">
        <li>
          <%= link_to user_posts_path(@user.id) do %>
            <i class="fa-solid fa-code"></i> コード一覧
          <% end %>
        </li>
        <% if @user == current_user %>
          <li>
              <%= link_to user_groups_path(current_user.id) do %>
                <i class="fa-solid fa-users"></i> グループ一覧
              <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to @user.github, target: "_blank", rel: "noopener noreferrer", class: @user.github.present? ? "" : "u-inactive" do %>
            <i class="fa-brands fa-github"></i> GitHub
          <% end %>
        </li>
      </menu>
    </div>
  </div>
</section>
