<!DOCTYPE html>
<html>
  <head>
    <title>推しのコード（管理画面）<%= "｜#{content_for(:title)}" if content_for?(:title) %></title>
    <%= render 'layouts/common/meta' %>
    <%= yield(:head) %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/common/footer' %>
    <%= yield(:foot) %>
  </body>
</html>
