<!DOCTYPE html>
<html>
  <head>
    <title>推しのコード<%= "｜#{content_for(:title)}" if content_for?(:title) %></title>
    <%= render 'layouts/common/meta' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'layouts/common/header', menu_partial: 'layouts/public/menu' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/common/footer' %>
    <%= render 'layouts/common/toast' %>
    <%= yield(:foot) %>
  </body>
</html>
